<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Local packages for Service Fabric references -->
    <add key="ServiceFabric_NugetPackages_LocalPath" value="refs" />
    <add key="SF-Services-and-Actors-Dotnet-Consumption" value="https://pkgs.dev.azure.com/msazure/One/_packaging/SF-Services-and-Actors-Dotnet-Consumption/nuget/v3/index.json" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="nuget\restored_packages" />
  </config>
</configuration>
